<!-- <img class="p-5 rounded-lg" [src]="url" alt="no-img" style="width: 50vw;"> -->
<div class="d-flex justify-content-center mt-5">
  <h3 class="display1 text-black fw-normal">Image Carousel</h3>
</div>
<div class="container image-Container d-flex flex-column align-items-center mb-5 p-5">
  <div class="d-flex justify-content-center align-items-center">
    <div class="button-holder"><button class="btn" (click)="previous()"><svg
          xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
          class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
          <path
            d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
        </svg></button>
    </div>

    <div class="image-holder"><img class="rounded-lg" [src]="url" alt="no-img" style="width: 50vw;"></div>
    <div class="button-holder"><button class="btn " (click)="next()"><svg
          xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
          class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
          <path
            d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
        </svg></button>
    </div>
  </div>
  <div class="navigate d-flex flex-row ">
    <button type="button" class="dot m-2" [ngClass]="{'text-white bg-white':(this.pointer!==0),'text-dark bg-dark':(this.pointer===0)}"
    (click)="imageChange($event)" id="image0"></button>
    <button type="button" class="dot m-2" [ngClass]="{'text-white bg-white':(this.pointer!==1),'text-dark bg-dark':(this.pointer===1)}"
    (click)="imageChange($event)" id="image1"></button>
    <button type="button" class="dot m-2" [ngClass]="{'text-white bg-white':(this.pointer!==2),'text-dark bg-dark':(this.pointer===2)}"
    (click)="imageChange($event)" id="image2"></button>
    <button type="button" class="dot m-2" [ngClass]="{'text-white bg-white':(this.pointer!==3),'text-dark bg-dark':(this.pointer===3)}"
    (click)="imageChange($event)" id="image3"></button>
    <button type="button" class="dot m-2" [ngClass]="{'text-white bg-white':(this.pointer!==4),'text-dark bg-dark':(this.pointer===4)}"
    (click)="imageChange($event)" id="image4"></button>
  </div>
</div>